.header {
    width: 1200px;
    height: 75px;
    margin: auto;
}

#add-timer-button {
    width: 100px;
    height: 40px;
    background: #cebeb9;
    border: 2px solid #cebeb9;
    margin-top: 13px;
    color: black;
    font-family: Georgia;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
}

#countdown-form {
    background: #cebeb9;
    padding: 20px;
    border-radius: 5px;
}

.countdown-box {
    border: 2px solid #cebeb9;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#countdown-form:empty {
    padding-bottom: 0;
}

.countdown-box:last-child {
    margin-bottom: 0;
}

.countdown-timer {
    margin-bottom: 20px;
}

.countdown-name {
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    font-family: 'Arial Narrow Bold';
    font-weight: bold;
}

.countdown-output {
    color: white;
    text-align: center;
    font-size: 35px;
    font-family: Georgia;
    font-weight: bold;
}

.countdown-input {
    margin-bottom: 20px;
}